@charset "utf-8";

// Define defaults for each variable.

@import "spectre.min.css";
//@import "font-awesome";
//$fa-font-path: "../fonts/font-awesome";

body {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
