<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    {{ $description := $.Site.Params.description }}
    {{ if .Description }}{{ $description = .Description }}{{ end }}
    <meta name="description" content="{{ $description }}"/>
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    
    {{ $sass := resources.Get "css/main.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="canonical" href="{{ $.Site.BaseURL }}">
  
    <link rel="icon" type="image/ico" href="{{ "/images/favicon.ico" | relURL }}">
  </head>